html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

:root {
    /* colors varibale def */

    /* primary */
    --soft-cyan: hsl(174, 77%, 80%);
    --strong-cyan: hsl(174, 86%, 45%);
    --light-grayish-red: hsl(14, 92%, 95%);
    --light-red: hsl(15, 100%, 70%);
    --pale-blue: hsl(226, 100%, 87%);

    /* Neutral */
    --white: hsl(0, 0%, 100%);
    --very-pale-blue: hsl(230, 100%, 99%);
    --light-grayish-blue: hsl(223, 50%, 87%);
    --lighter-grayish-blue: hsl(224, 65%, 95%);
    --grayish-blue: hsl(225, 20%, 60%);
    --dark-des-blue: hsl(227, 35%, 25%);

    /* font variable def */
    --primary: 'Manrope', sans-serif;
}

body {
    font-family: var(--primary);
    background-color: var(--very-pale-blue);
    visibility: hidden;
}

.wrapper {
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
}

.centered {
    text-align: center;
}

.header {
    padding-top: 72px;
    height: 400px;
    background-color: var(--lighter-grayish-blue);
    border-radius: 0px 0px 0px 200px;
    border: none;
    position: relative;
    letter-spacing: 0px;
}

.header > div.wrapper {
    position: relative;
}

.header h1 {
    color: var(--dark-des-blue);
    font-size: 22px;
    font-weight: 800;
    position: relative;
    z-index: 4;
    margin-bottom: 10px;
}

.header h2 {
    color: var(--grayish-blue);
    line-height: 13px;
    position: relative;
    z-index: 4;
    font-size: 15px;
    font-weight: 600;
}

.small-circle,
.big-circle {
    position: relative;
    background-color: transparent;
    border: 1px solid var(--light-grayish-blue);
    display: inline-block;
    border-radius: 50%;
}

.small-circle {
    height: 90px;
    width: 90px;
    z-index: 3;
    top: -180px;
    right: -110px;
}

.big-circle {
    height: 141px;
    width: 141px;
    z-index: 2;
    top: -105px;
    right: 56px;
}

.pricing-component > .card {
    position: relative;
    top: -159px;
    width: 84%;
    height: 500px;
    margin: 0 auto;
    border-radius: 2%;
    padding: 20px;
    background-color: var(--white);
    color: var(--grayish-blue);
    letter-spacing: 2px;
    font-size: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.07);
}

.slider {
    -webkit-appearance: none;
    display: inline-block;
    height: 10px;
    width: 98%;
    background: var(--soft-cyan);
    border-radius: 10px;
    margin-bottom: 30px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 37px;
    width: 37px;
    background: var(--strong-cyan);
    border-radius: 50%;
    box-shadow: 0px 15px 35px 15px rgba(16, 213, 194, 0.27);
}

.card__header {
    margin: 15px 0 32px 0;
    font-size: 14px;
    letter-spacing: 1px;
}

.card > h3 {
    margin-top: 31px;
    color: var(--dark-des-blue);
    font-size: 35px;
    font-weight: 800;
    letter-spacing: 0px;
}

.card > h3 > span {
    color: var(--grayish-blue);
    font-size: 16px;
    position: relative;
    top: -5px;
    left: 8px;
    letter-spacing: 0px;
}


hr {
    width: 110%;
}











